
<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Visiteur</h4>


              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Nom</th>
                              <th>Prenom</th>
                              <th>Status</th>
                              <th>Tel</th>
                              <th>Ville</th>
                              <th>Date visiteur</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td class="py-1">
                                Amiah Burton
                              </td>
                              <td>Cedric Kelly</td>
                              <td>Travailleur</td>
                              <td>

0605487503
                              </td>
                              <td>$206,850</td>
                              <td>June 21, 2010</td>

                          </tr>
                      </tbody>
                  </table>
              </div>

          </div>
      </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Ajouter un Visiteur</h6>
        <form>
          <div class="form-group">
            <label for="exampleInputText1">Nom</label>
            <input type="text" class="form-control" id="exampleInputText1" value="Amiah Burton" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleInputText1">Prenom</label>
            <input type="text" class="form-control" id="exampleInputText1" value="Amiah" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleInputText1">Numero Tel:</label>
            <input type="number" class="form-control" id="exampleInputText1" value="+212" placeholder="Numero de Tel">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Ville</label>
            <input type="text" class="form-control" id="exampleInputEmail3" value="Rabat" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Statut</label>
            <input type="text" class="form-control" id="exampleInputEmail3" value="Etudiant" placeholder="Enter Email">
          </div>
          <div class="mb-3">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                  name="date" type=date>

            </div>
          </div>

          <button class="btn btn-primary">Ajouter</button>
        </form>
      </div>
    </div>
  </div>
</div>
