<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0">Actualite</h4>
  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">

</div>

<div class="row">
  <div class="col-12 col-xl-12 stretch-card">


      <div class="col-md-4 grid-margin stretch-card">

      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-12 col-xl-12 grid-margin stretch-card">
    <div class="card overflow-hidden">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-4 mb-md-3">
          <h6 class="card-title mb-0">Production ACOME</h6>

        </div>
        <div class="row align-items-start mb-2">
          <div class="col-md-7">
          </div>
          <div class="col-md-5 d-flex justify-content-md-end">
            <div class="btn-group mb-3 mb-md-0" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-outline-primary">Aujourd'hui</button>
              <button type="button" class="btn btn-outline-primary d-none d-md-block">La semaine</button>
              <button type="button" class="btn btn-primary">Le Mois</button>
              <button type="button" class="btn btn-outline-primary">L'année</button>
            </div>
          </div>
        </div>
        <div class="flot-wrapper">
          <apx-chart
            [series]="apexChart4Options.series"
            [colors]="apexChart4Options.colors"
            [chart]="apexChart4Options.chart"
            [markers]="apexChart4Options.markers"
            [grid]="apexChart4Options.grid"
            [xaxis]="apexChart4Options.xaxis"
            [yaxis]="apexChart4Options.yaxis"
            [stroke]="apexChart4Options.stroke"
            [tooltip]="apexChart4Options.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Satisfaction Annuaire</h6>

        </div>
        <div class="monthly-sales-chart-wrapper">
          <!-- <canvas id="monthly-sales-chart"></canvas> -->
          <canvas baseChart
            [datasets]="ng2BarChart1Data"
            [labels]="ng2BarChart1Labels"
            [options]="ng2BarChart1Options"
            [colors]="ng2BarChart1Colors"
            [legend]="ng2BarChart1Legend"
            [chartType]="ng2BarChart1Type">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-baseline mb-2">
          <h6 class="card-title mb-0">Stokage de Production</h6>
          <div ngbDropdown class="mb-2">
            <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" id="dropdownMenuButton5">
              <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton5">
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="eye" appFeatherIcon class="icon-sm mr-2"></i> <span class="">View</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="edit-2" appFeatherIcon class="icon-sm mr-2"></i> <span class="">Edit</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="trash" appFeatherIcon class="icon-sm mr-2"></i> <span class="">Delete</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="printer" appFeatherIcon class="icon-sm mr-2"></i> <span class="">Print</span></a>
              <a ngbDropdownItem class="d-flex align-items-center" href="" (click)="false"><i data-feather="download" appFeatherIcon class="icon-sm mr-2"></i> <span class="">Download</span></a>
            </div>
          </div>
        </div>
        <div id="progressbar1" class="mx-auto"></div>
        <div class="row mt-4 mb-3">
          <div class="col-6 d-flex justify-content-end">
            <div>
              <label class="d-flex align-items-center justify-content-end tx-10 text-uppercase font-weight-medium">Total storage <span class="p-1 ml-1 rounded-circle bg-primary-muted"></span></label>

            </div>
          </div>
          <div class="col-6">
            <div>
              <label class="d-flex align-items-center tx-10 text-uppercase font-weight-medium"><span class="p-1 mr-1 rounded-circle bg-primary"></span> Used storage</label>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">


</div> <!-- row -->
