<div class="col-md-8 col-xl-6 middle-wrapper appartement" style="display: flex; justify-content: center; align-items: center; background-image: none !important;">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card rounded">
                <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="img-xs rounded-circle" src="../../../../assets/images/team-4.jpg" alt=" ">
                            <div class="ml-2 ">
                                <p>Mike Popescu</p>
                                <p class="tx-11 text-muted ">1 min ago</p>
                            </div>
                        </div>
                        <div ngbDropdown>
                            <button class="btn p-0 no-dropdown-toggle-icon " type="button " id="dropdownMenuButton2 " ngbDropdownToggle>
          <i class="icon-lg pb-3px " data-feather="more-horizontal " appFeatherIcon></i>
        </button>

                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <p class="mb-3 tx-14 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus minima delectus nemo unde quae recusandae assumenda.</p>
                    <img class="img-fluid " src="../../../../assets/images/team-2.jpg" alt=" ">
                </div>
                <div class="card-footer ">
                    <div class="d-flex post-actions ">
                        <a href="javascript:; " class="d-flex align-items-center text-muted mr-4 ">
                            <i class="icon-md " data-feather="heart " appFeatherIcon></i>
                            <p class="d-none d-md-block ml-2 ">Like</p>
                        </a>
                        <a href="javascript:; " class="d-flex align-items-center text-muted mr-4 ">
                            <i class="icon-md " data-feather="message-square " appFeatherIcon></i>
                            <p class="d-none d-md-block ml-2 ">Comment</p>
                        </a>
                        <a href="javascript:; " class="d-flex align-items-center text-muted ">
                            <i class="icon-md " data-feather="share " appFeatherIcon></i>
                            <p class="d-none d-md-block ml-2 ">Share</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="card rounded ">
                <div class="card-header ">
                    <div class="d-flex align-items-center justify-content-between ">
                        <div class="d-flex align-items-center ">
                            <img class="img-xs rounded-circle " src="../../../../assets/images/team-1.jpg" alt=" ">
                            <div class="ml-2 ">
                                <p>Mike Popescu</p>
                                <p class="tx-11 text-muted ">5 min ago</p>
                            </div>
                        </div>
                        <div ngbDropdown>
                            <button class="btn p-0 no-dropdown-toggle-icon " type="button " id="dropdownMenuButton3 " ngbDropdownToggle>
          <i class="icon-lg pb-3px " data-feather="more-horizontal " appFeatherIcon></i>
        </button>

                        </div>
                    </div>
                </div>
                <div class="card-body ">
                    <p class="mb-3 tx-14 ">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <img class="img-fluid " src="../../../../assets/images/team-5.jpg" alt=" ">
                </div>
                <div class="card-footer ">
                    <div class="d-flex post-actions ">
                        <a href="javascript:; " class="d-flex align-items-center text-muted mr-4 ">
                            <i class="icon-md " data-feather="heart " appFeatherIcon></i>
                            <p class="d-none d-md-block ml-2 ">Like</p>
                        </a>
                        <a href="javascript:; " class="d-flex align-items-center text-muted mr-4 ">
                            <i class="icon-md " data-feather="message-square " appFeatherIcon></i>
                            <p class="d-none d-md-block ml-2 ">Comment</p>
                        </a>
                        <a href="javascript:; " class="d-flex align-items-center text-muted ">
                            <i class="icon-md " data-feather="share " appFeatherIcon></i>
                            <p class="d-none d-md-block ml-2 ">Share</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>